.wrap{
    border-color: #E5E5E5;
    height: 90vh;
}

.form_login{
    
    height: 100%;
}

.logo_grup{
    margin-left: -120px;
    position: absolute;
    top: 3px;
    margin-bottom: 30px;
}

.logo_two{
    position: absolute;
    top: 20px;
    font-size: 55px;
}

.form_login_item{
    margin-top: 100px;
    max-width: 692px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.form_login_title{
    margin-top: 46px;
    margin-bottom: 50px;
    width: 302px;
    height: 27px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 90.69%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.form{
margin-bottom: 30px;
    
}

.input_passw{
    width: 625px;
    margin-bottom: 30px;
}

.margin{
    margin-bottom:8px
}
.textField{
    width: 610px,

}

.submit{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width:285px ;
    height: 43px;
    background-color: #676767;
}
.MuiButton-containedPrimary{
    background-color: #676767;
}

.submit:hover{
    background-color: #676767;
}

.delimiter{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 610px;
}

.new_akk{
    text-align: center;
    font-size: 18px;
    text-decoration-line: underline;
text-transform: uppercase;
cursor: pointer;
color: #000000;
}
