.root{
    flex-grow: 1;
}


.footer_social{
   
    justify-content: center;
    width: 100%;
    height: 83px;
    background: #DCDCDC;
    text-align: center;
    padding: 8px;
}

.footer_botton{
    display: grid;
    height: 33px;
    width: 100%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 90.69%;
    color: #000000;
    opacity: 0.5;
}

.facebook{
    margin-right: 20px;
}
svg{
    margin-right: 20px; 
}